/* project.css */

.projects-container {
    padding: 40px;
    background-color: #f8f8f8;
    width: 80%;
    margin: 140px auto 0; /* Adjust the margin-top to move it lower */
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    color: #666;
    line-height: 1.6;
}

